@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";
@import "fonts/imports.css";

.font-noto-serif {
    font-family: "Noto Serif";
}

body {
    @apply font-noto-serif;
    @apply text-gray-900;
}

a {
    @apply text-green-500;
}

hr {
    border: 0;
    height: 1px;
}

@responsive {
    .columns-2 {
        column-count: 2;
        column-gap: 3rem;
    }

    .hebrew {
        @apply font-bold;
        @apply relative;
        direction: rtl;
    }

    .verse {
        font-size: 0px;

        .content,
        .bd,
        .add {
            @apply relative;
            @apply text-lg;
        }

        .bd {
            @apply font-semibold;
        }

        .add {
            @apply italic;
        }
    }
}
